site_name: anystore
site_url: https://docs.investigraph.dev/lib/anystore
repo_url: https://github.com/dataresearchcenter/anystore
nav:
  - Intro: index.md
  - quickstart.md
  - Documentation:
    - overview.md
    - Basic usage: usage.md
    - Use as blob storage: storage.md
    - Use as cache backend: cache.md
    - configuration.md
    - serialization.md
  - Reference:
      - anystore.io: reference/io.md
      - anystore.store: reference/store.md
      - anystore.store.virtual: reference/virtual.md
      - anystore.interface.tags: reference/tags.md
      - anystore.model: reference/model.md
      - anystore.cli: reference/cli.md
      - anystore.serialize: reference/serialize.md
      - anystore.decorators: reference/decorators.md
      - anystore.settings: reference/settings.md
      - anystore.lock: reference/lock.md
      - anystore.util: reference/util.md
theme:
  name: material
  logo: https://cdn.investigativedata.org/style/logos/darc/svg/DARC-Logo-RGB-Horizontal-Neg.svg
  favicon: https://cdn.investigativedata.org/style/logos/darc/favicon.ico
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    # - navigation.footer
    - toc.follow
    - content.code.copy
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: material/mail
      link: mailto:hi@dataresearchcenter.org
    - icon: material/web
      link: https://dataresearchcenter.org
    - icon: material/github
      link: https://github.com/dataresearchcenter/anystore
    - icon: material/linkedin
      link: https://www.linkedin.com/company/dataresearchcenter/
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
  - autorefs
  - mkdocs-typer2:
      pretty: true
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            show_root_heading: false
            show_object_full_path: false
